<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="isLoading" class="ion-text-center ion-padding-top">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <ion-grid *ngIf="!isLoading && favoritePokemons.length > 0">
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="3" *ngFor="let p of favoritePokemons">
        <ion-card [routerLink]="['/tabs/tab1/details', p.id]">
          <ion-img [src]="p.sprites.other['official-artwork'].front_default"></ion-img>
          <ion-card-header class="ion-text-center">
            <ion-card-title class="pokemon-name">{{ p.name | titlecase }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="!isLoading && favoritePokemons.length === 0" class="empty-state">
    <ion-icon name="star-outline"></ion-icon>
    <p>Você ainda não tem Pokémons favoritos.</p>
    <p><small>Vá para a Pokedex e clique na estrela!</small></p>
  </div>
</ion-content>