<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Pokedex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="3" *ngFor="let p of pokemons">
        <ion-card [routerLink]="['/details', p.id]">
          <ion-img [src]="p.imageUrl"></ion-img>
          <ion-card-header class="ion-text-center">
            <ion-card-title class="pokemon-name">{{ p.name | titlecase }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Carregando mais Pokémon...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>